#About .image .lay {
  /* width: 85%;
  height: 85%; */
}
#About .image .lay::before {
  content: "";
  position: absolute;
  background-color: #374151;
  width: 100%;
  height: 100%;
  bottom: -30px;
  left: -30px;
  z-index: -1;
}
