/* .slick-dots {
  padding-top: 20px !important;
} */
.slick-dots li button:before {
  margin-top: 20px !important;
  opacity: 0.5 !important;
  color: white !important;
}
.slick-dots li.slick-active button:before {
  opacity: 1 !important;
  color: var(--grid-1-color) !important;
}
